# Used for downloading YouTube videos
pytubefix
yt-dlp

# Used for audio extraction
moviepy

# Used for audio transcription
SpeechRecognition
pydub

# Used for OpenAI API calls
openai
python-dotenv
tiktoken

# Used for async file operations
aiofiles
